<div class="stock-product" [formGroup]="parent">
  <div formGroupName="selector">
    <select formControlName="product_id">
        <option value="">
          Select item
        </option>
        <option
          *ngFor="let product of products"
          [value]="product.id"
        >
          {{ product.name }}
        </option>
    </select>

    <app-stock-counter
      formControlName="quantity"
    ></app-stock-counter>

    <button
     type="button"
     (click)="onAdd()"
    >
      Add to stock
    </button>
  </div>
</div>