<div class="stock-product" [formGroup]="parent">
  <div formGroupName="selector" class="stock-product__wrraper">
    <select formControlName="product_id">
        <option value="">
          Select item
        </option>
        <option
          *ngFor="let product of products"
          [value]="product.id"
        >
          {{ product.name }}
        </option>
    </select>

    <app-stock-counter
      formControlName="quantity"
    ></app-stock-counter>

    <button
    [disabled]="stockExists || notSelected"
     type="button"
     (click)="onAdd()"
    >
      Add to stock
    </button>
    <div
      class="stock-selector__error"
      *ngIf="stockExists">
      Item already exists in the stock
    </div>
  </div>
</div>